name: Release

on:
  push:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: swaglive/bundletool

jobs:
  build-docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        version:
        # - "1.4.0"
        # - "1.5.0"
        # - "1.6.0"
        # - "1.6.1"
        # - "1.7.0"
        # - "1.7.1"
        - "1.8.0"
        - "1.8.1"

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Environment - Setup buildx
      uses: docker/setup-buildx-action@v1

    - name: Setup Environment - Login to Github Container Registry
      uses: docker/login-action@v1
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Setup Environment - Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: |
          ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
        tags: |
          type=raw,${{ matrix.version }}

    - name: Build
      uses: docker/build-push-action@v2
      with:
        context: .
        build-args: |
          version=${{ matrix.version }}
        push: true
        labels: ${{ steps.meta.outputs.labels }}
        tags: ${{ steps.meta.outputs.tags }}
        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        fail_on_unmatched_files: true
        discussion_category_name: Announcements
